.add-option-error {
    color: rgba(136, 27, 100, 0.856);
    font-weight: bold;
    font-style: italic;
    font-family: Tahoma, sans-serif;
    padding: 0 $s-size;
    margin: $m-size;
}

.add-option {
    display: flex;
    flex-direction: column;
}


.add-option__input {
    flex-grow: 1;
    background-color: $dark-blue;
    color: $off-white;
    margin-right: $s-size;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    padding: $s-size;
    margin: 0 0 $s-size 0;
}


// css feature
@media(min-width: $desktop-breakpoint) {
    .add-option{
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}