.header {
    background-color: $dark-blue;
    color: $off-white;
    margin-bottom: 2rem;
    padding: 1.6rem 0;
}

// BEM block element modifier
.header__title {
    font-size: $l-size;
    margin: 1;
    color: $off-white;
}

.header__subtitle {
    color: rgb(228, 152, 13);
    font-size: $m-size;
    font-weight: 500;
    margin: 1;
}