.header {
    background-color: $dark-blue;
    color: $off-white;
    margin-bottom: $s-size;
    padding: $s-size 0;
}

// BEM block element modifier
.header__title {
    font-size: $l-size;
    margin: 1;
    color: $off-white;
}

.header__subtitle {
    color: rgb(228, 152, 13);
    font-size: $m-size;
    font-weight: 500;
    margin: 1;
}

// css feature
@media(min-width: $desktop-breakpoint) {
    .header{
        margin-bottom: $l-size;
        padding: $m-size 0;
    }

}