// style for option 

.option {
    display: flex;
    justify-content: space-between; 
    padding: $s-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__element {
    color: $off-white;
}