
// base color variables

$dark-blue: #01010c;
$off-white: rgb(233, 223, 223);
$less-dark-blue: rgba(36, 38, 63, 0.842);
$light-purple: rgb(107, 20, 207);
$off-blue: rgba(79, 79, 184, 0.788);
$light-blue: rgb(114, 151, 185);

//Spacing

//medium m-size
$s-size: 0.5rem;
$m-size: 1rem;
$l-size: 1.5rem;
$xl-size: 2rem;
